* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url(../img/jumbo.png);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}



.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;


}

.barra {
    display: inline-block;
	align-items: center;
	height: 100%;
	padding: 0 0.5em;
	margin: 0 0.001em;
	color: white;
	text-decoration: none;
	white-space: nowrap;
    
}

nav {
    margin: 0;

}


.container-top{
    width: 60%;
    text-align: center;
    margin: auto;
    padding-bottom: 10rem;
   

}

h1 { 
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: bolder;
    
}

section > p {
    margin-bottom: 0.5rem;
}



.button {
	display: inline-block;
	padding: 1em 1.5em;
	border-radius: 10em;
	text-decoration: none;
}

.white {
	background-color: white;
	color: black;
}

.black {
	background-color: black;
	color: white;
}

a {
    
    text-decoration: none ;
}

.text{
    justify-content: flex-end;
    width: 50%;
    flex-direction: column;
    text-align: left;
    
}

h2 {
    font-size: 2.5rem;
}

p {
    line-height: 2rem;
    padding-top: 3rem;
}

.sectionlist {
    padding: 3rem;
}

.second{
    flex-direction: row-reverse;
    
}


.bg {
   background-color: lightgrey;
}

.container-down {
    text-align: center;
    margin: auto;
    width: 80%;
    background: cover;
}

.btb {
    background-color: rgb(142, 161, 225);
    color: white;
    padding: 0.5rem;
    margin-top: 0.2rem;
}

   
footer {
    background-color: #23272A;
}

.social {
    color: white;

}

.ita {
    width: 1.5rem;
}

h4  {
    color: #7289da;
    font-size: 1.2rem;
}

.title {
    color: #7289da;
}

li {
    color: white;
}









