* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url(../img/jumbo.png);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


.login {
    width: 6%;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 40%;
    padding: 0.5rem;
    height: 6%;
    margin-top: 1rem;
    
}



.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;


}

ul li{
    display: inline-block;
    flex-basis: 40%;
    padding: 1.5rem;
}


.container-top{
    width: 80%;
    text-align: center;
    margin: auto;

}

a {
    
    text-decoration: none ;
}

.text{
    justify-content: flex-end;
    flex-basis: 50%;
    flex-direction: column;
    text-align: left;
    
}

h2 {
    font-size: 2.5rem;
}

p {
    line-height: 2rem;
    padding-top: 3rem;
}

.sectionlist {
    padding: 3rem;
}

.second{
    flex-direction: row-reverse;
}


footer {
    background-color: lightslategray;

}
.final-title {
    
}


.foot{

}

.column-list {
    flex-basis: 20%;
}




